html,
body,
h1,
input,
select {
  font-family: 'Apple SD Gothic Neo', arial, sans-serif;
}
body,
h1 {
  font-size: 14px;
}
h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
h3 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.3;
}
body {
  margin: 0;
  background: #fff;
  color: #202124;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  margin: 0;
}
ol li {
  list-style: none;
}
ol,
ul,
li {
  margin: 0;
  padding: 0;
}
input {
  font-size: 14px;
}
em {
  font-weight: bold;
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
